---
page_title: "Atlassian Cloud: {{ .Name }}"
subcategory: "Jira Cloud"
description: |-
  Provides details about a specific {{ .Name }}.
---

# {{ .Type }}: {{ .Name }}

Provides details about a specific `{{ .Name }}`.

Learn more about [Jira Issue Field Configurations](https://support.atlassian.com/jira-cloud-administration/docs/manage-issue-field-configurations/).

See more details about the [Jira Cloud Platform REST API for Issue Field Configurations](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issue-field-configurations/#api-group-issue-field-configurations).

## Example Usage

{{ .Name | printf "examples/data-sources/%s/basic.tf" | tffile }}

{{ .SchemaMarkdown | trimspace }}

