---
page_title: "Atlassian Cloud: {{ .Name }}"
subcategory: "Jira Cloud"
description: |-
  Provides details about a specific {{ .Name }}.
---

# {{ .Type }}: {{ .Name }}

Provides details about a specific `{{ .Name }}`.

Learn more about [Jira Issue Types](https://support.atlassian.com/jira-cloud-administration/docs/what-are-issue-types/).

See more details about the [Jira Cloud REST API for Issue Types](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issue-types/).

## Example Usage

{{ .SchemaMarkdown | trimspace }}

