---
page_title: "Atlassian Cloud: {{ .Name }}"
subcategory: "Jira Cloud"
description: |-
  Provides details about a specific {{ .Name }}.
---

# {{ .Type }}: {{ .Name }}

Provides details about a specific `{{ .Name }}`.

Learn more about [Jira Issue Types Schemes](https://support.atlassian.com/jira-cloud-administration/docs/what-are-issue-type-schemes/).

See more details about the [Jira Cloud REST API for Issue Type Schemes](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-issue-type-schemes/#api-group-issue-type-schemes).

## Example Usage

{{ .Name | printf "examples/data-sources/%s/basic.tf" | tffile }}

{{ .SchemaMarkdown | trimspace }}

