---
page_title: "Atlassian Cloud: {{ .Name }}"
subcategory: "Jira Cloud"
description: |-
  Provides details about a specific {{ .Name }}.
---

# {{ .Type }}: {{ .Name }}

Provides details about a specific `{{ .Name }}`.

Learn more about [Jira Project Categories](https://support.atlassian.com/jira-cloud-administration/docs/add-assign-and-delete-project-categories/).

See more details about the [Jira Cloud Platform REST API for Project Categories](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-project-categories/#api-group-project-categories).

## Example Usage

{{ .Name | printf "examples/data-sources/%s/basic.tf" | tffile }}

{{ .SchemaMarkdown | trimspace }}

