---
page_title: "Atlassian Cloud: {{ .Name }}"
subcategory: "Jira Cloud"
description: |-
  Provides details about a specific {{ .Name }}.
---

# {{ .Type }}: {{ .Name }}

Provides details about a specific `{{ .Name }}`.

Learn more about [Jira Groups](https://support.atlassian.com/user-management/docs/create-and-update-groups/).

See more details about the [Jira Cloud REST API for Groups](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-groups/#api-group-groups).

## Example Usage

{{ .Name | printf "examples/data-sources/%s/basic.tf" | tffile }}

{{ .SchemaMarkdown | trimspace }}
