name: Terraform Provider Checks
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/terraform-provider-check.yml
      - .golangci.yml
      - internal/**
      - go.sum
      - go.mod
      - main.go
      - tools/**
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest